@tailwind base;
@tailwind components;
@tailwind utilities;
tbody > tr:nth-child(even) {
  background-color: #f2f2f2;
}

tbody > tr:nth-child(odd) {
  background-color: white;
}
tbody > tr:hover {
  background-color: lightgray;
}
.hover-dashed {
  position: relative;
  outline-color: #22c55e;
  outline-width: 2px;
  outline-style: dashed;
  outline-offset: 2px;
  cursor: move;
  z-index: 10;
}

.click-border {
  position: relative;
  outline-color: #c56322;
  outline-width: 2px;
  outline-style: dashed;
  outline-offset: 2px;
  z-index: 5;
}
.move {
  cursor: move;
  z-index: 20;
}
.over {
  position: relative;
}
.over::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  outline-color: #22c55e;
  outline-width: 2px;
  outline-style: dashed;
  outline-offset: 2px;
  background-color: #b3ffb3;
  opacity: 0.5;
  z-index: 10;
  pointer-events: none;
}
.ant-btn-primary {
  color: #fff;
  background-color: #1677ff;
  box-shadow: 0 2px 0 rgba(5, 145, 255, 0.1);
}
.modal-checkbox {
  display: none;
}
.ant-modal-header {
  border-bottom: 1px solid #e8e8e8;
  height: 34px;
}

.modal-label {
  text-align: center;
  color: #fff;
  cursor: pointer;
}

.modal-checkbox:checked ~ .modal {
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal-checkbox:not(:checked) ~ .modal {
  display: none;
}

.modal {
  z-index: 5;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

.modal-content {
  background-color: #fff;
  border-radius: 4px;
  max-width: 600px;
  margin: 10% auto;
  padding: 20px;
}

/* .custom-font {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 14px;
  line-height: 22px;
 
} */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
/* end app css */
body {
  /* color: #333333; */
  font-family: "Montserrat";
}

@keyframes translateAndReset {
  0% {
    transform: translate(30px, -30px);
  }
  50% {
    transform: translate(30px, -20px);
  }
  100% {
    transform: translate(30px, -30px);
  }
}

.ani-translate {
  animation: translateAndReset 2s 7s infinite ease-in-out;
  /*transform-origin: center center;*/
}

@keyframes translateAndRotate {
  0% {
    transform: translate(0px, 0);
  }
  15% {
    transform: translate(15px, 0px);
  }
  45% {
    transform: translate(-15px, 0px);
  }
  60% {
    transform: translate(0px, 0px);
  }
  80% {
    transform: rotateY(360deg);
  }
  100% {
    transform: rotateY(0);
  }
}

.ani-tranrote {
  animation: translateAndRotate 4s 7s infinite ease-in-out;
  transform-origin: center center;
}
