@tailwind base;
@tailwind components;
@tailwind utilities;

.modal-checkbox {
  display: none;
}
.ant-modal-header {
  border-bottom: 1px solid #e8e8e8;
  height: 34px;
}

.modal-label {
  text-align: center;
  color: #fff;
  cursor: pointer;
}

.modal-checkbox:checked ~ .modal {
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal-checkbox:not(:checked) ~ .modal {
  display: none;
}

.modal {
  z-index: 5;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

.modal-content {
  background-color: #fff;
  border-radius: 4px;
  max-width: 600px;
  margin: 10% auto;
  padding: 20px;
}
.custom-font {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 14px;
  line-height: 22px;
}
