@tailwind base;
@tailwind components;
@tailwind utilities;
.hover-dashed {
  outline-color: #22c55e;
  outline-width: 2px;
  outline-style: dashed;
  outline-offset: 2px;
  cursor: move;
  z-index: 10;
}

.click-border {
  outline-color: #c56322;
  outline-width: 2px;
  outline-style: dashed;
  cursor: move;
  outline-offset: 2px;
  z-index: 5;
}
.over {
  position: relative;
}
.over::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  outline-color: #22c55e;
  outline-width: 2px;
  outline-style: dashed;
  outline-offset: 2px;
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='lime' stroke-width='3' stroke-dasharray='1%2c 7 stroke-dashoffset='30' stroke-linecap='square'/%3e%3c/svg%3e");
  background-color: #b3ffb3;
  opacity: 0.5;
  z-index: 10;
  pointer-events: none;
}
.ant-btn-primary {
  color: #fff;
  background-color: #1677ff;
  box-shadow: 0 2px 0 rgba(5, 145, 255, 0.1);
}
.modal-checkbox {
  display: none;
}
.ant-modal-header {
  border-bottom: 1px solid #e8e8e8;
  height: 34px;
}

.modal-label {
  text-align: center;
  color: #fff;
  cursor: pointer;
}

.modal-checkbox:checked ~ .modal {
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal-checkbox:not(:checked) ~ .modal {
  display: none;
}

.modal {
  z-index: 5;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

.modal-content {
  background-color: #fff;
  border-radius: 4px;
  max-width: 600px;
  margin: 10% auto;
  padding: 20px;
}
.custom-font {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 14px;
  line-height: 22px;
}
